/** subpage_theme02 (button_color - Thistle Green),(Webfont - Nanum Myeongjo) **/
.theme02,
.theme02 input,
.theme02 select,
.theme02 textarea,
.theme02 code,
.theme02 button {font-family:"Lora", "Nanum Myeongjo", Arial, sans-serif !important;}

/* 버튼 */
.theme02 .xans-product-action .action_button .sub_sold,
.theme02 [class^='btnSubmit'],
.theme02 a[class^='btnSubmit'] {background:#9fa581;color:#fff;}
.theme02 [class^='btnNormal'], .theme02 a[class^='btnNormal'] {border:1px solid #9fa581;color:#9fa581;}
.theme02 [class^='btnNormal']:not(.disabled):hover,
.theme02 [class^='btnNormal']:not(.disabled).selected {border-color:#4d5c04;}

/* 최상단 배너 */
.theme02 .main_top_banner {background-color:#9fa581;color:#fff;}

/* 상단 메뉴 */
.theme02 #header .inner .top_nav_box .top_category > ul > li > a:after {background-color:#9fa581;}
.theme02 #header .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount span {background-color:#9fa581;}
.theme02 #header .inner .top_nav_box .top_mypage .wrap_log_menu li a:hover,
.theme02 #header .inner .top_nav_box .top_category .sub-category li:hover > a,
.theme02 #header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul li a:hover {color:#9fa581 !important;}
.theme02 #header .inner .toparea .toparea_state .toparea_state_board > ul li a:hover {color:#9fa581;}
.theme02 #header .inner .top_nav_box .top_category .sub_cate01 li:hover > a,
.theme02 #header .inner .top_nav_box .top_category .sub-category li:hover > a {color:#9fa581;}

/* 메인타이틀 */
.theme02 .listpage_title div:after,
.theme02 .main_title .main_title_txt01:after {background:#9fa581;}

/* 상품 진열 할인율 */
.theme02 .sale_box {background-color:#9fa581 !important;}

/* 비디오배너 */
.theme02 .main_video .background_video {background:#9fa581;}

/* 슬라이드바 */
.theme02 .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {background:#9fa581;}
.theme02 .swiper-container-horizontal>.swiper-scrollbar {background:#dbd9cc;}
.theme02 .swiper-pagination-bullet {background:#dbd9cc;opacity:1;}
.theme02 .swiper-pagination-bullet-active {background:#9fa581;}

/* 메인 탭상품 상품진열 */
.theme02 .main_product_category .main_product_inner .main_product_tab li .button.active {color:#9fa581;}
.theme02 .main_product_category .main_product_inner .main_product_tab li .button:after {background-color:#9fa581;}

/* 메인 지도 */
.theme02 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a {color:#fff;background-color:#9fa581;border:1px solid #9fa581;}
.theme02 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a:hover {color:#9fa581;background-color:#fff;border:1px solid #9fa581;}

/* 하단 */
.theme02 #right_quick > div:first-child a {background:#9fa581;}

/* 목록페이지 중분류 */
.theme02 .listpage_title:after {background:#9fa581;}
.theme02 .ec-base-tab.typeMenu li.selected a.button {color:#9fa581;border:1px solid #9fa581;}
.theme02 .ec-base-product .prdList .thumbnail .badge,
.theme02 .ec-base-tab.typeMenu ul > li > ul > li a:hover {color:#9fa581 !important;}

/* 상세페이지 */
.theme02 .ec-base-paginate.typeSwipe button.circle {background:#dbd9cc !important; opacity:1 !important;}
.theme02 .ec-base-paginate.typeSwipe button.circle.selected {background:#9fa581 !important;}
.theme02 .tabProduct li.selected a {color: #9fa581;border-bottom: 2px solid #9fa581;}
.theme02 .xans-coupon-productdetailajax.section > .title h2 {color:#9fa581;border-bottom:2px solid #9fa581;}
.theme02 .xans-product-detail .infoArea #totalProducts > table > tbody {background:#eeefe8;}
.theme02 .xans-product-additional .view .ec-base-button a {color:#9fa581;}
.theme02 .xans-product-additional .view .ec-base-button a .icon[class*="icoArrow"] {border-left: 1px solid #9fa581;border-bottom: 1px solid #9fa581;}

/* 사이드바 */
.theme02 .navigation-menu__category .cate_h {color: #9fa581;}
.theme02 .navigation-menu__board .title,
.theme02 .navigation-menu__project .title {color: #9fa581;}
.theme02 #aside .xans-layout-multishoplist .toggle {border: 1px solid #9fa581;color: #9fa581;}
.theme02 #aside .xans-layout-multishoplist ul li {border: 1px solid #9fa581;border-top:none;}
