  .circle-banner {
  width: 100%;
  padding: 80px 0;
  background-color: #fff;
  text-align: center;
}

.circle-banner__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.circle-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #111;
}

.circle-item img {
  width: 140px;
  height: 140px;
  border: 1px solid #ccc;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

.circle-item span {
  font-size: 15px;
  font-weight: 400;
}


@media (max-width: 768px) {
  .circle-banner__inner {
    gap: 30px;
  }
  .circle-item img {
    width: 100px;
    height: 100px;
  }
  .circle-item span {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .circle-banner__inner {
    justify-content: center;
    gap: 10px;
  }

  .circle-item {
    width: calc(50% - 6px);
    padding: 12px 0 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .circle-item img{
    width: 100%;  
    border-radius:12px;
}
}