  .circle-banner {
  width: 100%;
  padding: 40px 0 60px;
  background-color: #fff;
  text-align: center;
}

.circle-banner__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.circle-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #111;
}

.circle-item img {
  width: 140px;
  height: 140px;

  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  /* transition: all 0.3s ease; */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.circle-item img:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  /* transform: translateY(-3px); */
}

.circle-item span {
  font-size: 15px;
  font-weight: 400;
}


@media (max-width: 768px) {
  .circle-banner__inner {
    gap: 30px;
  }
  .circle-item img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 430px) {
  .circle-banner__inner {
    justify-content: center;
    gap: 10px;
    margin: 0 40px 0 40px;
  }

  .circle-item {
    width: calc(50% - 6px);
    padding: 12px 0 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .circle-item img{
    width: 100%;  
    border-radius:12px;
}
}